@import "colors";
@import "classes";
body {
    font-family: "Roboto", sans-serif;
}

#top-nav {
    background-color: #323659;
    position: sticky;
    top: 0;
    z-index: 9999;
    .nav {
        .nav-item {
            .nav-link {
                font-size: 15px;
                padding-left: 10px;
                padding-right: 10px;
            }
            .nav-link:hover {
                opacity: 0.7;
            }
        }
    }
}

#banner {
    background: url("../img/banner.png") no-repeat;
    background-size: cover;
    // .image {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     img {
    //         width: 100%;
    //     }
    // }
    .banner-caption {
        padding-top: 15px;
        padding-bottom: 120px;
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        .logo {
            width: 190px;
        }
        .filter-btn {
            background: transparent;
            border: 0;
            border: 1px solid #fff;
            border-radius: 25px;
            text-align: center;
            padding: 5px 25px;
            color: #fff;
            outline: 0;
            img {
                max-width: 20px;
            }
        }
        .filter-btn:hover {
            background: rgba(255, 255, 255, 0.5);
        }
        .caption {
            max-width: 800px;
            margin: auto;
            color: $c1;
            text-align: center;
            .caption-title {
                font-family: Arial;
                font-weight: bold;
                font-size: 40px;
            }
            .form-control {
                border: 1px solid #cecece;
            }
            .form-control:focus {
                box-shadow: none;
                outline: none;
            }

            select.custom-select {
                border: 1px solid #cecece;
                background: #fff;
                border-radius: 0;
                border-radius: 20px 0 0 20px;
                padding: 0.375rem 0.75rem;
            }
            .input-group-append {
                .btn {
                    background: #fff;
                    border-radius: 0 20px 20px 0;
                }
                .search {
                    color: #fff;
                    background-color: #fc3c3c;
                }
            }
        }
    }
}

#gallery-section {
    background-color: #f4f4f4;
    padding: 5px;
    .row {
        margin: 0;
        .grid-area {
            padding: 5px;
            .imgbox {
                overflow: hidden;
                .hover {
                    width: 100%;
                    overflow: hidden;
                    position: absolute;
                    height: 100%;
                    top: -100%;
                    left: 0;
                    transition: 0.3s;
                    z-index: 5;
                }
                position: relative;
                img {
                    width: 100%;
                }
                .hover-content {
                    height: 100%;
                    overflow: hidden;
                    .download {
                        height: 100%;
                    }
                    background: rgba(0, 0, 0, 0.5);
                    padding: 5px;

                    a {
                        color: $c1;
                        text-decoration: none;
                    }
                    a.png,
                    a.vector,
                    a.save {
                        background: #fff;
                        padding: 2px 4px;
                        margin: 5px 2px;
                        border-radius: 3px;
                    }
                    a.png:hover,
                    a.vector:hover,
                    a.save:hover {
                        opacity: 0.8;
                    }
                    img.user {
                        width: 20px;
                        border-radius: 50%;
                        border: 1px solid #fff;
                    }
                    .img-title {
                        font-size: 15px;
                    }
                    .footer {
                    }
                }
            }

            .imgbox:hover .hover {
                top: 0;
            }
        }
    }
    .gallery-pagination {
        margin: 5px;
        .page-item {
            .page-link {
                box-shadow: none;
                outline: none;
                color: $c1;
            }
        }
        .page-item.active .page-link {
            background: $orange;
            color: #fff;
            border-color: $orange;
        }
    }
}

#single-view {
    background: #f4f4f4;
    color: $c1;
    padding: 10px;
    .left-banner {
        border: 1px solid lighten($c1, 30%);
        img {
            width: 100%;
        }
    }
    .main-image {
        img {
            width: 100%;
        }
        .btn {
            color: $c1;
            padding: 3px 15px;
            border: 1px solid $c1;
        }
        .btn:hover {
            opacity: 0.8;
        }
        .single-img {
            width: 100%;
        }
    }
    .right-side {
        .banner {
            border: 1px solid lighten($c1, 30%);
            background: #fff;
            padding: 15px;
            img {
                width: 100%;
                display: block;
            }
        }
        .download {
            border: 1px solid lighten($c1, 30%);

            .download-button {
                padding: 15px;
                border-bottom: 1px solid lighten($c1, 30%);
            }
            .desc {
                padding: 15px;
                border-bottom: 1px solid lighten($c1, 30%);
            }
            background: #fff;
            .btn.download-btn {
                background: $orange;
                border-radius: 0;
                width: 100%;
                display: block;
                color: #fff;
                i {
                    width: 25px;
                }
            }
            .btn.download-btn:hover {
                opacity: 0.9;
            }
            .download-desc {
                line-height: 1;
                font-size: 15px;
                margin-top: 10px;
            }
            .logo {
                padding: 15px;
                img {
                    width: 110px;
                }
                .follow-btn {
                    color: $orange;
                    background: #fff;
                    border: 1px solid $orange;
                    font-size: 14px;
                    padding: 3px 15px;
                }
            }
        }
    }
}

#footer {
    color: #fff;
    background: $dark;
    .nav-item {
        padding: 1px 5px;
        .nav-link {
            color: #fff;
            font-size: 15px;
            opacity: 0.7;
            padding: 0;
        }
        .nav-link:hover {
            opacity: 1;
        }
    }
    .nav-item.title {
        opacity: 1;
        text-transform: uppercase;
        font-size: 17px;
        padding-bottom: 5px;
    }
    .social-icon {
        a {
            transition: 0.3s;
            display: inline-block;
            img {
                width: 30px;
                margin-right: 10px;
            }
        }
        a:hover {
            opacity: 0.7;
            transform: translateY(-3px);
        }
    }
    .right-text {
        opacity: 0.7;
        line-height: 1;
        font-size: 15px;
    }
    .sign-up-btn {
        background-color: $orange;
        border-color: $orange;
        color: #fff;
        border-radius: 40px;
        font-size: 20px;
        padding: 3px 20px;
    }
    .sign-up-btn:hover {
        opacity: 0.8;
    }
}
#search-box {
    .banner-caption {
        width: 100%;
        .logo {
            width: 150px;
        }
        .filter-btn {
            background: transparent;
            border: 0;
            border: 1px solid $c1;
            border-radius: 25px;
            text-align: center;
            padding: 5px 25px;
            color: $c1;
            outline: 0;
            img {
                max-width: 20px;
            }
        }
        .filter-btn:hover {
            background: rgba(255, 255, 255, 0.5);
        }
        .caption {
            width: 100%;
            color: $c1;
            text-align: center;
            .caption-title {
                font-family: Arial;
                font-weight: bold;
                font-size: 40px;
            }
            .form-control {
                border: 1px solid #cecece;
            }
            .form-control:focus {
                box-shadow: none;
                outline: none;
            }

            select.custom-select {
                border: 1px solid #cecece;
                background: #fff;
                border-radius: 0;
                border-radius: 20px 0 0 20px;
                padding: 0.375rem 0.75rem;
            }
            .input-group-append {
                .btn {
                    background: #fff;
                    border-radius: 0 20px 20px 0;
                }
                .search {
                    color: #fff;
                    background-color: #fc3c3c;
                }
            }
        }
    }
}

#login {
    padding: 15px;
    background: url("../img/login-background.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
    .login-panel {
        text-align: center;
        .logo {
            width: 260px;
            margin-bottom: 50px;
        }
        width: 450px;
        margin: auto;
        .login-section {
            background: #fff;
            border-radius: 30px;
            overflow: hidden;
            .nav-tabs .nav-item.show .nav-link,
            .nav-tabs .nav-link.active {
                border: 0;
                // background-color: transparent;
            }
            .nav-tabs {
                border: 0;
            }
            .nav-tabs .nav-link:focus,
            .nav-tabs .nav-link:hover {
                border-color: transparent;
            }
            .nav-tabs .nav-link {
                border-color: transparent !important;
            }
        }
        .nav.nav-tabs {
            background-color: rgba(0, 0, 0, 0.3);
        }
        .nav-item {
            width: 50%;
            height: 58px;
            .nav-link {
                margin: auto;
                height: 100%;
                width: 100%;
                display: block;
                border-radius: 0;
                color: #000;
                font-size: 18px;
            }
        }
        .tab-content {
            color: $c1;
            padding: 35px;
            padding-top: 0;
            .top-text {
                margin: 15px 0;
                color: $c1;
            }
            .social-login {
                img {
                    height: 20px;
                }
                .fb {
                    background-color: #3b5998;
                }
                .google,
                .fb {
                    line-height: 45px;
                    width: 50%;
                    border-radius: 5px;
                }
                .google {
                    border: 1px solid lighten($c1, 20%);
                }
            }
            .hr {
                margin-top: 5px;
                hr {
                    width: 50%;
                }
                span {
                    width: 50px;
                }
            }
            form {
                .input-group {
                    .input-group-prepend {
                        width: 40px;
                        .input-group-text {
                            padding: 0;
                            background-color: transparent;
                            height: 100%;
                            border-radius: 5px 0 0 5px;
                            img {
                                width: 15px;
                                margin: auto;
                            }
                        }
                    }
                    .input-group-append {
                        border: 1px solid lighten($c1, 20%);
                        border-left: 0;
                        border-radius: 0 5px 5px 0;
                        width: 40px;
                        .input-group-text {
                            padding: 0;
                            background-color: transparent;
                            height: 100%;
                            border: 0;
                            padding: 0 5px;
                        }
                    }
                    .form-control {
                        line-height: 33px;
                        padding: 0;
                        padding: 5px 15px;
                    }
                }
                .submit-btn {
                    background-color: $orange;
                    color: #fff;
                    width: 100%;
                    display: block;
                    line-height: 45px;
                    padding: 0;
                    font-size: 18px;
                    border-radius: 5px;
                }
                .submit-btn:hover {
                    opacity: 0.8;
                }
            }
            a.login-link {
                color: $orange;
                text-decoration: none;
            }
            a.login-link:hover {
                opacity: 0.8;
            }
            .forget {
                text-align: left;
                .form-check-input {
                    border-radius: 0;
                }
                a {
                    text-decoration: none;
                    color: $c1;
                }
                a:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
